/* Reset de estilos bÃ¡sicos */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 40px 0;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

section {
    padding: 40px;
}

section h2 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.project {
    margin-top: 20px;
    text-align: center;
}

.project img {
    max-width: 100%;
    max-height: 150px; /* Cambia el valor de acuerdo a tu preferencia */
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el formulario de contacto */
form {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2679c8;
}
